/* MEGAMENU in admin */
#menu-to-edit .pro-last {
    margin-right: 0;
}
#menu-to-edit .description-thin {
    height: auto;
}
#menu-to-edit .menu-item-depth-0 .field-content {
    display: none;
}
#menu-to-edit .pro-mega-column, #menu-to-edit .pro-mega-menu {
    float: left;
    width: 390px;
    margin: 15px 10px 15px 0;
    padding: 5px 0;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}
#menu-to-edit .pro-mega-column select, #menu-to-edit .pro-mega-menu select {
    width: 100%;
}
#menu-to-edit .field-highlight-type select {
    width: 100%;
    margin: 0;
}
#menu-to-edit .mega-depend-position, #menu-to-edit .mega-depend-width, #menu-to-edit .field-mega-width, #menu-to-edit .field-mega {
    width: 100%;
    float: left;
    margin: 5px 0;
}
#menu-to-edit .pro-mega-menu, #menu-to-edit .pro-mega-column, #menu-to-edit .field-mega-width, #menu-to-edit .item-mega, #menu-to-edit .item-mega-column {
    display: none;
}
#menu-to-edit .item-mega, #menu-to-edit .item-mega-column {
    font-size: 12px;
    padding: 12px 10px;
    line-height: 18px;
}
#menu-to-edit .menu-item-transport .item-mega, #menu-to-edit .menu-item-depth-0.active-mega-menu .item-type, #menu-to-edit .menu-item-depth-1.active-mega-column .item-type {
    display: none !important;
}
#menu-to-edit .menu-item-depth-0 .pro-mega-menu, #menu-to-edit .menu-item-depth-0.active-mega-menu .field-mega-width, #menu-to-edit .menu-item-depth-0.active-mega-menu .item-mega, #menu-to-edit .menu-item-depth-1.active-mega-column .pro-mega-column, #menu-to-edit .menu-item-depth-1.active-mega-column .item-mega-column {
    display: block;
}
#menu-to-edit .menu-item-depth-1 .menu-item-transport .item-mega-column {
    display: none !important;
}
.pro-shortcode-dialog {
    z-index: 100001 !important;
}
.pro-icon-dialog {
    z-index: 100002 !important;
}
#icon-overlay, #shortcode-overlay {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    display: none;
}
#dialog-shadow-down, #dialog-shadow-up {
    width: 100%;
    height: 20px;
    overflow: hidden;
    position: relative;
}
#dialog-shadow-down:after, #dialog-shadow-up:after {
    width: 100%;
    height: 8px;
    content: "";
    position: absolute;
    left: 0;
    border-radius: 520px / 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
#dialog-shadow-up {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
#dialog-shadow-up:after {
    top: -10px;
}
#dialog-shadow-down {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
}
#dialog-shadow-down:after {
    top: 22px;
}
#dialog-header-wrap {
    width: 100%;
    padding-bottom: 16px;
}
#dialog-insert-button {
    text-align: center;
}
#dialog-insert-button .button-large {
    margin-top: 15px;
}
#icon-dialog {
    display: none;
    background: #fff;
}
#icon-dialog #dialog-header-wrap {
    text-align: center;
}
#icon-dialog #dialog-header-wrap input {
    width: 50%;
    line-height: 30px;
}
#icon-dialog #icon-load {
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 10px;
    padding: 0 10px;
}
#icon-dialog #icon-load a {
    -webkit-transition: border 0.2s ease, box-shadow 0.2s ease;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #e1e1e1;
    color: #555;
    outline: none;
    text-align: center;
    font-size: 14px;
    width: 21px;
    height: 21px;
    line-height: 23px;
}
#icon-dialog #icon-load .active-icon, #icon-dialog #icon-load a:hover {
    -webkit-box-shadow: 0 0 20px rgba(77, 191, 217, 0.4);
    box-shadow: 0 0 20px rgba(77, 191, 217, 0.4);
    border: 1px solid #4dbfd9;
}
#icon-dialog #icon-load h4 {
    margin: 15px 0 5px 5px;
}
#icon-dialog #icon-load h4:first-child {
    margin-top: 0;
}
#icon-dialog .icon-set-title {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 7px;
    margin: 0 5px 7px 5px;
    border-bottom: 1px solid transparent;
}
#icon-dialog .icon-set-im {
    margin-top: 15px;
    color: #5cb85c;
    border-color: #d8eed8;
}
#icon-dialog .icon-set-fa {
    margin-top: 15px;
    color: #428bca;
    border-color: #cde1f1;
}
#shortcode-dialog {
    display: none;
    background: #fff;
}
#shortcode-dialog #shortcode-load {
    overflow-x: hidden;
    overflow-y: auto;
}
#shortcode-dialog #dialog-header-wrap #shortcode-select {
    width: 250px;
    padding: 10px;
    height: 40px;
}
#shortcode-dialog #dialog-header-wrap .chosen-container {
    width: 300px !important;
    margin-left: -150px;
    left: 50%;
}
#shortcode-dialog .shortcode-clone {
    border: 1px dashed #ccc;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}
#shortcode-dialog .shortcode-clone .remove-clone {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: #ccc;
    text-decoration: none;
    outline: none;
}
#shortcode-dialog .shortcode-clone .remove-clone:hover {
    color: #555;
}
#shortcode-dialog h4 {
    font-size: 13px;
}
#shortcode-dialog h4 small {
    font-style: italic;
    font-weight: 400;
    color: #aaa;
}
#shortcode-dialog .pro-element-wrap {
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.shortcode-button span.dashicons-menu {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: inherit;
    margin: 0 2px;
}
/** * --------------------------------------------------------- * 02. TAB * --------------------------------------------------------- */
.pro-tab {
    position: relative;
    float: left;
    width: 100%;
    font-size: 13px;
}
.pro-tab .pro-tab-nav {
    position: relative;
}
.pro-tab .pro-tab-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pro-tab .pro-tab-nav ul li {
    position: relative;
}
.pro-tab .pro-tab-nav ul li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #333;
}
.pro-tab .pro-tab-nav ul li a:hover {
    color: #428bca;
}
.pro-tab .pro-tab-nav ul li.active a {
    color: #428bca;
    background: #fff;
    border: 1px solid #e8e8e8;
}
.pro-tab .pro-tab-nav ul li.active a:after {
    background-color: #428bca;
}
.pro-tab .pro-tab-nav .pro-in {
    margin-right: 5px;
}
.pro-tab .pro-tab-nav:before, .pro-tab .pro-tab-nav:after, .pro-tab .pro-tab-nav li.active a:after {
    content: "";
    position: absolute;
}
.pro-tab .pro-tab-content {
    display: none;
}
.pro-tab .pro-tab-content.active {
    display: block;
}
.pro-tab.pro-tab-default .pro-tab-nav {
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 0 -1px 0 #e8e8e8 inset;
    box-shadow: 0 -1px 0 #e8e8e8 inset;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(bottom, #f5f5f5 0%, #ffffff 8px);
    background-image: -moz-linear-gradient(bottom, #f5f5f5 0%, #ffffff 8px);
    background-image: linear-gradient(bottom, #f5f5f5 0%, #ffffff 8px);
}
.pro-tab.pro-tab-default .pro-tab-nav:before, .pro-tab.pro-tab-default .pro-tab-nav:after {
    height: 100%;
    width: 30px;
    bottom: 0;
}
.pro-tab.pro-tab-default .pro-tab-nav:before {
    left: 0;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
}
.pro-tab.pro-tab-default .pro-tab-nav:after {
    right: 0;
    background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
}
.pro-tab.pro-tab-default .pro-tab-nav li {
    display: inline-block; /*  display: table-cell;  width: 1%;  text-align: center;  */
}
.pro-tab.pro-tab-default .pro-tab-nav li.active a {
    border-bottom-color: transparent;
}
.pro-tab.pro-tab-default .pro-tab-nav li.active a:after {
    height: 2px;
    top: -1px;
    left: -1px;
    right: -1px;
}
.pro-tab.pro-tab-default .pro-tab-contents {
    clear: both;
    float: left;
    width: 100%;
}
.pro-tab.pro-tab-default .pro-tab-contents .pro-tab-content {
    padding: 20px 0;
}
.pro-tab.pro-tab-left .pro-tab-nav {
    float: left;
    width: 15%;
    padding: 30px 0;
    -webkit-box-shadow: -1px 0 0 #e8e8e8 inset;
    box-shadow: -1px 0 0 #e8e8e8 inset;
    background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(right, #f5f5f5 0%, #ffffff 8px);
    background-image: -moz-linear-gradient(right, #f5f5f5 0%, #ffffff 8px);
    background-image: linear-gradient(right, #f5f5f5 0%, #ffffff 8px);
}
.pro-tab.pro-tab-left .pro-tab-nav:before, .pro-tab.pro-tab-left .pro-tab-nav:after {
    height: 30px;
    width: 100%;
    right: 0;
}
.pro-tab.pro-tab-left .pro-tab-nav:before {
    top: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
}
.pro-tab.pro-tab-left .pro-tab-nav:after {
    bottom: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}
.pro-tab.pro-tab-left .pro-tab-nav a {
    margin: 4px 0;
}
.pro-tab.pro-tab-left .pro-tab-nav li.active a {
    -webkit-box-shadow: -1px 0 3px rgba(0, 0, 0, 0.05);
    box-shadow: -1px 0 3px rgba(0, 0, 0, 0.05);
    border-right-color: transparent;
}
.pro-tab.pro-tab-left .pro-tab-nav li.active a:after {
    width: 2px;
    top: -1px;
    bottom: -1px;
    left: -1px;
}
.pro-tab.pro-tab-left .pro-tab-contents {
    float: right;
    width: 85%;
}
.pro-tab.pro-tab-left .pro-tab-contents .pro-tab-content {
    padding: 20px;
}
.pro-tab.pro-tab-right .pro-tab-nav {
    float: right;
    width: 15%;
    padding: 30px 0;
    -webkit-box-shadow: 1px 0 0 #e8e8e8 inset;
    box-shadow: 1px 0 0 #e8e8e8 inset;
    background-image: -webkit-gradient(linear, 0% 50%, 8 50%, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(left, #f5f5f5 0%, #ffffff 8px);
    background-image: -moz-linear-gradient(left, #f5f5f5 0%, #ffffff 8px);
    background-image: linear-gradient(left, #f5f5f5 0%, #ffffff 8px);
}
.pro-tab.pro-tab-right .pro-tab-nav:before, .pro-tab.pro-tab-right .pro-tab-nav:after {
    height: 30px;
    width: 100%;
    right: 0;
}
.pro-tab.pro-tab-right .pro-tab-nav:before {
    top: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(#ffffff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
}
.pro-tab.pro-tab-right .pro-tab-nav:after {
    bottom: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}
.pro-tab.pro-tab-right .pro-tab-nav a {
    margin: 4px 0;
}
.pro-tab.pro-tab-right .pro-tab-nav li.active a {
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    border-left-color: transparent;
}
.pro-tab.pro-tab-right .pro-tab-nav li.active a:after {
    width: 2px;
    top: -1px;
    bottom: -1px;
    right: -1px;
}
.pro-tab.pro-tab-right .pro-tab-contents {
    float: left;
    width: 85%;
}
.pro-tab.pro-tab-right .pro-tab-contents .pro-tab-content {
    padding: 20px;
}
.pro-tab.pro-tab-nav-center .pro-tab-nav {
    text-align: center;
}
.pro-tab.pro-tab-nav-right .pro-tab-nav {
    text-align: right;
}
.pro-tab .pro-tab-nav-fit li {
    display: table-cell !important;
    width: 1% !important;
    text-align: center;
}
.webuild_field_text input {
    width: 25em;
    max-width: 100%;
}
.webuild_field_number input {
    width: 70px;
}
.webuild_field_number i {
    margin-left: 5px;
    color: #bbb;
}
.webuild_field_textarea textarea {
    width: 100%;
    max-width: 100%;
    min-height: 125px;
}
.webuild_field_textarea .pro-textarea-mini {
    min-height: 44px;
}
.webuild_field_select select {
    width: 300px;
}
.webuild_field_select .chosen-container {
    width: 300px !important;
}
.webuild_field_select .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 25px;
}
.webuild_field_on_off .pro-text-desc {
    display: inline-block;
    margin-left: 5px;
    margin-top: 3px;
}
.webuild_field_on_off .switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff 25px);
}
.webuild_field_on_off .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.webuild_field_on_off .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}
.webuild_field_on_off .switch-label:before, .webuild_field_on_off .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.webuild_field_on_off .switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.webuild_field_on_off .switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.webuild_field_on_off .switch-input:checked ~ .switch-label {
    background: #47a8d8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.webuild_field_on_off .switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.webuild_field_on_off .switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.webuild_field_on_off .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.webuild_field_on_off .switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
}
.webuild_field_on_off .switch-input:checked ~ .switch-handle {
    left: 40px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.webuild_field_on_off .switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}
.webuild_field_image_select label {
    display: inline-block;
    padding: 5px;
}
.webuild_field_image_select label img {
    vertical-align: bottom;
    border: 3px solid #e1e1e1;
    -webkit-transition: border 0.2s ease-out;
    transition: border 0.2s ease-out;
}
.webuild_field_image_select label.selected img {
    border: 3px solid #444;
}
.webuild_field_image_select input {
    display: none;
}
.webuild_field_skin_select label {
    position: relative;
    display: inline-block;
    padding: 5px;
}
.webuild_field_skin_select label .pro-scheme {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 60px;
    border: 2px solid #ffffff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #555;
}
.webuild_field_skin_select label .scheme-default {
    background-color: #e1e1e1;
}
.webuild_field_skin_select label .scheme-blue {
    background-color: #428bca;
}
.webuild_field_skin_select label .scheme-green {
    background-color: #5cb85c;
}
.webuild_field_skin_select label .scheme-red {
    background-color: #d9534f;
}
.webuild_field_skin_select label .scheme-yellow {
    background-color: #f0ad4e;
}
.webuild_field_skin_select label .scheme-custom {
    background-color: #999999;
}
.webuild_field_skin_select label .scheme-title {
    background-color: #000000;
    color: #fff;
    padding: 2px 5px;
    font-size: 75%;
    margin-top: 20px;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.webuild_field_skin_select label.selected .pro-scheme {
    border: 2px solid #000000;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.webuild_field_skin_select label .dashicons {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ddd;
}
.webuild_field_skin_select label .dashicons:hover {
    color: #fff;
}
.webuild_field_skin_select input {
    display: none;
}
.webuild_field_icon .icon-preview {
    margin-right: 3px;
}
.webuild_field_icon .icon-preview span {
    width: 27px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 14px;
    color: #555;
}
.webuild_field_icon .icon-preview span:hover {
    border-color: #222;
    background-color: #222;
    color: #fff;
}
.pro-button-remove {
    margin-left: 3px !important;
    background: #e14d43 !important;
    border-color: #d02a21 !important;
    color: white !important;
    -webkit-box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: inset 0 1px 0 #ec8a85, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
}
/* REDUX */
.redux-main .ui-corner-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.redux-main .ui-corner-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.widget-color-picker label {
    display: block;
}
@font-face {
    font-family: 'Glyphter';
    src: url('../../../fonts/Glyphter.eot');
    src: url('../../../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Glyphter.woff') format('woff'),
    url('../../../fonts/Glyphter.ttf') format('truetype'),
    url('../../../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
#toplevel_page_webuild_options .dashicons-admin-generic:before {
    font-family: 'Glyphter';
    content: "\0041";
    color:#f7c605 !important;
}
