.hidden-desktop {
	display: none !important;
}
.col-md-five {
	width: 20%;
}
@media (max-width: 1000px) {

	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

}
@media (max-width: 1024px) {

	.hidden-desktop {
		display: block !important;
	}
	.hidden-mobile {
		display: none !important;
	}
	.navbar-collapse.collapse.menu-compact {
		width: 100%;
	}

}
@media (max-width: 995px) {

	.social-btns {
		display: none;
	}

}
@media (max-width: 767px) {

	.navbar-nav > li > a {
		border-bottom: 1px solid #E7E7E7;
		font-family: 'Open Sans', sans-serif;
	}
	#top-bar .navbar-nav > li > a {
		border: none;
	}
	.border-right {
		border-right: none;
	}
	.border-left {
		border-left: none;
	}
	.bott-footer .row > div {
		text-align: center;
	}
	.bott-footer .row > div ul {
		float: none;
		margin: 0;
		display: inline-block;
	}
	.mini-nav {
		display: block;
		float: none;
		width: auto;
		padding-left: 0;
		padding-right: 0;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.copyright .menu-select {
		display: inline-block;
	}
	.bott-footer .row > div .mini-nav ul {
		display: none;
	}

}
@media only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

	.logo .retina, .retina {
		display: inline-block !important;
	}
	.logo .normal, .normal {
		display: none !important;
	}

}
@media (min-width: 991px) {

	.row.post {
		display: table !important;
		height: 100%;
		position: relative;
	}
	.row.post .col-md-4, .row.post .col-md-8 {
		display: table-cell;
		vertical-align: top;
		float: none;
	}
	.entry-header, .post-excerpt {
		vertical-align: top;
	}

}
@media (max-width: 767px) {

	.entry-meta-footer > .social-link-list {
		display: none;
	}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	.no-tablet-top-bar #top-bar {
		display: none;
	}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

	.no-mobile-top-bar #top-bar {
		display: none;
	}
	footer .arrow-to-top {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	footer .copyright-text, footer .contact-info {
		text-align: center;
		float: none;
	}
	footer .navbar-nav > li > a {
		border-bottom: none;
	}
	.page-header .title-wrapper h1 {
		line-height: 50px !important;
		font-size: 38px !important;
	}
	.page-header .title-wrapper {
		height: 245px !important;
	}
	.top-footer {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}
}