.sticky-header.fixed .primary-menu .navbar-nav > li > a {
    padding-right: 15px;
    padding-left: 15px;
}
.primary-menu .navbar-nav > li > a {
    font-family: Lato;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #2e3841;
    font-size: 15px;
}
.page-header .title-wrapper {
    height: 150px;
}
.page-header .title-wrapper h1 {
    font-family: Lato;
    line-height: 36px;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
}
.page-header .title-wrapper span {
    font-family: Lato;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    font-size: 16px;
}
body {
    font-family: Lato;
    line-height: 27px;
    font-weight: normal;
    font-style: normal;
/*    color: #647886;*/
    font-size: 13px;
}
.woocommerce-billing-fields{
    color: #222 !important;
}
.cont-padding {
    padding-top: 100px;
    padding-bottom: 0;
}
#content-wrapper {
    background-color: #fff;
    background-repeat: repeat;
    background-position: center center;
}
.primary-menu > li > a:hover,
.primary-menu .navbar-nav > li > a:hover,
.primary-menu .navbar-nav > li.current-menu-item > a,
#header-sticky .primary-menu .navbar-nav > li.current-menu-item > a {
    color: #f7c51e;
}
.brochure-box-5686b608c591f {
    background-color: #2c3e50;
}
.brochure-box-5686b608c591f:hover {
    background-color: #f7c51e;
}
.brochure-box__text5686b608c591f {
    color: #ffffff;
}
.brochure-box-5686b608c591f:hover .brochure-box__text5686b608c591f {
    color: #1a1c27!important;
}
.brochure-box-5686b608c591f i {
    color: #ffffff;
}
.brochure-box-5686b608c591f:hover i {
    color: #1a1c27!important;
}
.brochure-box-5686b608c5aeb {
    background-color: #2c3e50;
}
.brochure-box-5686b608c5aeb:hover {
    background-color: #f7c51e;
}
.brochure-box__text5686b608c5aeb {
    color: #ffffff;
}
.brochure-box-5686b608c5aeb:hover .brochure-box__text5686b608c5aeb {
    color: #1a1c27!important;
}
.brochure-box-5686b608c5aeb i {
    color: #ffffff;
}
.brochure-box-5686b608c5aeb:hover i {
    color: #1a1c27!important;
}
#header-sticky.fixed .container {
    width: 100%;
}
.primary-menu .navbar-nav > li > a {
    line-height: 100px;
}
.open-search:hover {
    color: #f6c41c;
}
.cart-info .shopping-cart:hover {
    color: #f6c41c;
}