@font-face {
    font-family: 'WeBuild-Related';
    src: url('../fonts/WeBuild-Related.eot');
    src: url('../fonts/WeBuild-Related.eot') format('embedded-opentype'), url('../fonts/WeBuild-Related.woff') format('woff'), url('../fonts/WeBuild-Related.ttf') format('truetype'), url('../fonts/WeBuild-Related.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="WeBuild-Related-"],
[class*=" WeBuild-Related-"] {
    font-family: 'WeBuild-Related';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.WeBuild-Related-adhesive2:before {
    content: "\e000";
}

.WeBuild-Related-ax1:before {
    content: "\e001";
}

.WeBuild-Related-axe2:before {
    content: "\e002";
}

.WeBuild-Related-brick1:before {
    content: "\e003";
}

.WeBuild-Related-cabin1:before {
    content: "\e004";
}

.WeBuild-Related-cable3:before {
    content: "\e005";
}

.WeBuild-Related-chair5:before {
    content: "\e006";
}

.WeBuild-Related-circular69:before {
    content: "\e007";
}

.WeBuild-Related-connection7:before {
    content: "\e008";
}

.WeBuild-Related-construction6:before {
    content: "\e009";
}

.WeBuild-Related-constructor1:before {
    content: "\e00a";
}

.WeBuild-Related-container2:before {
    content: "\e00b";
}

.WeBuild-Related-cord4:before {
    content: "\e00c";
}

.WeBuild-Related-crayon2:before {
    content: "\e00d";
}

.WeBuild-Related-cross50:before {
    content: "\e00e";
}

.WeBuild-Related-cut19:before {
    content: "\e00f";
}

.WeBuild-Related-danger2:before {
    content: "\e010";
}

.WeBuild-Related-door12:before {
    content: "\e011";
}

.WeBuild-Related-double40:before {
    content: "\e012";
}

.WeBuild-Related-double41:before {
    content: "\e013";
}

.WeBuild-Related-double42:before {
    content: "\e014";
}

.WeBuild-Related-double43:before {
    content: "\e015";
}

.WeBuild-Related-drill4:before {
    content: "\e016";
}

.WeBuild-Related-drill5:before {
    content: "\e017";
}

.WeBuild-Related-drilling1:before {
    content: "\e018";
}

.WeBuild-Related-dropper3:before {
    content: "\e019";
}

.WeBuild-Related-ecologic1:before {
    content: "\e01a";
}

.WeBuild-Related-electric36:before {
    content: "\e01b";
}

.WeBuild-Related-electric37:before {
    content: "\e01c";
}

.WeBuild-Related-electrical2:before {
    content: "\e01d";
}

.WeBuild-Related-firewood1:before {
    content: "\e01e";
}

.WeBuild-Related-gloves2:before {
    content: "\e01f";
}

.WeBuild-Related-grinder2:before {
    content: "\e020";
}

.WeBuild-Related-hammer27:before {
    content: "\e021";
}

.WeBuild-Related-hammer28:before {
    content: "\e022";
}

.WeBuild-Related-hammer29:before {
    content: "\e023";
}

.WeBuild-Related-hammer30:before {
    content: "\e024";
}

.WeBuild-Related-hammer31:before {
    content: "\e025";
}

.WeBuild-Related-hammer32:before {
    content: "\e026";
}

.WeBuild-Related-hammer33:before {
    content: "\e027";
}

.WeBuild-Related-hammer34:before {
    content: "\e028";
}

.WeBuild-Related-hammer35:before {
    content: "\e029";
}

.WeBuild-Related-hammer36:before {
    content: "\e02a";
}

.WeBuild-Related-hammer37:before {
    content: "\e02b";
}

.WeBuild-Related-hand47:before {
    content: "\e02c";
}

.WeBuild-Related-hand48:before {
    content: "\e02d";
}

.WeBuild-Related-hand49:before {
    content: "\e02e";
}

.WeBuild-Related-hand50:before {
    content: "\e02f";
}

.WeBuild-Related-hand51:before {
    content: "\e030";
}

.WeBuild-Related-home81:before {
    content: "\e031";
}

.WeBuild-Related-hook2:before {
    content: "\e032";
}

.WeBuild-Related-house59:before {
    content: "\e033";
}

.WeBuild-Related-house60:before {
    content: "\e034";
}

.WeBuild-Related-ink2:before {
    content: "\e035";
}

.WeBuild-Related-inverted3:before {
    content: "\e036";
}

.WeBuild-Related-ladder5:before {
    content: "\e037";
}

.WeBuild-Related-level2:before {
    content: "\e038";
}

.WeBuild-Related-lines2:before {
    content: "\e039";
}

.WeBuild-Related-machine7:before {
    content: "\e03a";
}

.WeBuild-Related-machinery1:before {
    content: "\e03b";
}

.WeBuild-Related-male108:before {
    content: "\e03c";
}

.WeBuild-Related-man154:before {
    content: "\e03d";
}

.WeBuild-Related-man155:before {
    content: "\e03e";
}

.WeBuild-Related-measuring5:before {
    content: "\e03f";
}

.WeBuild-Related-mechanical3:before {
    content: "\e040";
}

.WeBuild-Related-meter5:before {
    content: "\e041";
}

.WeBuild-Related-motherboard1:before {
    content: "\e042";
}

.WeBuild-Related-motor1:before {
    content: "\e043";
}

.WeBuild-Related-mower1:before {
    content: "\e044";
}

.WeBuild-Related-paint42:before {
    content: "\e045";
}

.WeBuild-Related-paint43:before {
    content: "\e046";
}

.WeBuild-Related-paint44:before {
    content: "\e047";
}

.WeBuild-Related-paint45:before {
    content: "\e048";
}

.WeBuild-Related-paint46:before {
    content: "\e049";
}

.WeBuild-Related-painter9:before {
    content: "\e04a";
}

.WeBuild-Related-painting14:before {
    content: "\e04b";
}

.WeBuild-Related-painting15:before {
    content: "\e04c";
}

.WeBuild-Related-painting16:before {
    content: "\e04d";
}

.WeBuild-Related-painting17:before {
    content: "\e04e";
}

.WeBuild-Related-painting18:before {
    content: "\e04f";
}

.WeBuild-Related-paper55:before {
    content: "\e050";
}

.WeBuild-Related-paper56:before {
    content: "\e051";
}

.WeBuild-Related-pick3:before {
    content: "\e052";
}

.WeBuild-Related-pin25:before {
    content: "\e053";
}

.WeBuild-Related-pincer10:before {
    content: "\e054";
}

.WeBuild-Related-pincer11:before {
    content: "\e055";
}

.WeBuild-Related-pincer6:before {
    content: "\e056";
}

.WeBuild-Related-pincer7:before {
    content: "\e057";
}

.WeBuild-Related-pincer8:before {
    content: "\e058";
}

.WeBuild-Related-pincer9:before {
    content: "\e059";
}

.WeBuild-Related-piping2:before {
    content: "\e05a";
}

.WeBuild-Related-plier2:before {
    content: "\e05b";
}

.WeBuild-Related-plier3:before {
    content: "\e05c";
}

.WeBuild-Related-pliers2:before {
    content: "\e05d";
}

.WeBuild-Related-plug9:before {
    content: "\e05e";
}

.WeBuild-Related-press7:before {
    content: "\e05f";
}

.WeBuild-Related-protected2:before {
    content: "\e060";
}

.WeBuild-Related-rectangular38:before {
    content: "\e061";
}

.WeBuild-Related-repair10:before {
    content: "\e062";
}

.WeBuild-Related-repair11:before {
    content: "\e063";
}

.WeBuild-Related-repair8:before {
    content: "\e064";
}

.WeBuild-Related-repair9:before {
    content: "\e065";
}

.WeBuild-Related-repairman1:before {
    content: "\e066";
}

.WeBuild-Related-right36:before {
    content: "\e067";
}

.WeBuild-Related-rule1:before {
    content: "\e068";
}

.WeBuild-Related-running16:before {
    content: "\e069";
}

.WeBuild-Related-saw5:before {
    content: "\e06a";
}

.WeBuild-Related-saw6:before {
    content: "\e06b";
}

.WeBuild-Related-saw7:before {
    content: "\e06c";
}

.WeBuild-Related-scissor5:before {
    content: "\e06d";
}

.WeBuild-Related-scissor6:before {
    content: "\e06e";
}

.WeBuild-Related-screw4:before {
    content: "\e06f";
}

.WeBuild-Related-screw5:before {
    content: "\e070";
}

.WeBuild-Related-screwdriver12:before {
    content: "\e071";
}

.WeBuild-Related-screwdriver13:before {
    content: "\e072";
}

.WeBuild-Related-screwdriver14:before {
    content: "\e073";
}

.WeBuild-Related-shovel2:before {
    content: "\e074";
}

.WeBuild-Related-spool2:before {
    content: "\e075";
}

.WeBuild-Related-spoon7:before {
    content: "\e076";
}

.WeBuild-Related-spot1:before {
    content: "\e077";
}

.WeBuild-Related-stairs5:before {
    content: "\e078";
}

.WeBuild-Related-suitcase26:before {
    content: "\e079";
}

.WeBuild-Related-switch7:before {
    content: "\e07a";
}

.WeBuild-Related-table23:before {
    content: "\e07b";
}

.WeBuild-Related-tester1:before {
    content: "\e07c";
}

.WeBuild-Related-thin26:before {
    content: "\e07d";
}

.WeBuild-Related-three65:before {
    content: "\e07e";
}

.WeBuild-Related-tiles3:before {
    content: "\e07f";
}

.WeBuild-Related-tool4:before {
    content: "\e080";
}

.WeBuild-Related-tool5:before {
    content: "\e081";
}

.WeBuild-Related-toolbox2:before {
    content: "\e082";
}

.WeBuild-Related-triangular25:before {
    content: "\e083";
}

.WeBuild-Related-triangular26:before {
    content: "\e084";
}

.WeBuild-Related-video95:before {
    content: "\e085";
}

.WeBuild-Related-wood3:before {
    content: "\e086";
}

.WeBuild-Related-wood4:before {
    content: "\e087";
}

.WeBuild-Related-wooden5:before {
    content: "\e088";
}

.WeBuild-Related-wrench31:before {
    content: "\e089";
}

.WeBuild-Related-wrench32:before {
    content: "\e08a";
}

.WeBuild-Related-wrench33:before {
    content: "\e08b";
}

.WeBuild-Related-wrench34:before {
    content: "\e08c";
}

.WeBuild-Related-wrench35:before {
    content: "\e08d";
}

.WeBuild-Related-wrench36:before {
    content: "\e08e";
}

.WeBuild-Related-wrench37:before {
    content: "\e08f";
}

.WeBuild-Related-wrench38:before {
    content: "\e090";
}

.WeBuild-Related-wrench39:before {
    content: "\e091";
}

.WeBuild-Related-wrench40:before {
    content: "\e092";
}

.WeBuild-Related-wrench41:before {
    content: "\e093";
}

.WeBuild-Related-wrench42:before {
    content: "\e094";
}

.WeBuild-Related-zipper2:before {
    content: "\e095";
}

.WeBuild-Related-adjusting:before {
    content: "\e096";
}

.WeBuild-Related-architecture1:before {
    content: "\e097";
}

.WeBuild-Related-architecture:before {
    content: "\e098";
}

.WeBuild-Related-attention1:before {
    content: "\e099";
}

.WeBuild-Related-ax2:before {
    content: "\e09a";
}

.WeBuild-Related-barrow:before {
    content: "\e09b";
}

.WeBuild-Related-brick3:before {
    content: "\e09c";
}

.WeBuild-Related-bricks3:before {
    content: "\e09d";
}

.WeBuild-Related-bricks4:before {
    content: "\e09e";
}

.WeBuild-Related-brush20:before {
    content: "\e09f";
}

.WeBuild-Related-construction10:before {
    content: "\e0a0";
}

.WeBuild-Related-construction11:before {
    content: "\e0a1";
}

.WeBuild-Related-construction12:before {
    content: "\e0a2";
}

.WeBuild-Related-construction8:before {
    content: "\e0a3";
}

.WeBuild-Related-construction9:before {
    content: "\e0a4";
}

.WeBuild-Related-constructor2:before {
    content: "\e0a5";
}

.WeBuild-Related-constructor3:before {
    content: "\e0a6";
}

.WeBuild-Related-constructor4:before {
    content: "\e0a7";
}

.WeBuild-Related-constructor5:before {
    content: "\e0a8";
}

.WeBuild-Related-crane8:before {
    content: "\e0a9";
}

.WeBuild-Related-crane9:before {
    content: "\e0aa";
}

.WeBuild-Related-demolition:before {
    content: "\e0ab";
}

.WeBuild-Related-drawing7:before {
    content: "\e0ac";
}

.WeBuild-Related-drawing8:before {
    content: "\e0ad";
}

.WeBuild-Related-drill6:before {
    content: "\e0ae";
}

.WeBuild-Related-drill7:before {
    content: "\e0af";
}

.WeBuild-Related-electrical9:before {
    content: "\e0b0";
}

.WeBuild-Related-exclamation19:before {
    content: "\e0b1";
}

.WeBuild-Related-factory11:before {
    content: "\e0b2";
}

.WeBuild-Related-folded30:before {
    content: "\e0b3";
}

.WeBuild-Related-gear27:before {
    content: "\e0b4";
}

.WeBuild-Related-hammer40:before {
    content: "\e0b5";
}

.WeBuild-Related-hammer41:before {
    content: "\e0b6";
}

.WeBuild-Related-hammer42:before {
    content: "\e0b7";
}

.WeBuild-Related-hand121:before {
    content: "\e0b8";
}

.WeBuild-Related-hand122:before {
    content: "\e0b9";
}

.WeBuild-Related-hand123:before {
    content: "\e0ba";
}

.WeBuild-Related-hand125:before {
    content: "\e0bb";
}

.WeBuild-Related-hand126:before {
    content: "\e0bc";
}

.WeBuild-Related-hexagonal5:before {
    content: "\e0bd";
}

.WeBuild-Related-hook3:before {
    content: "\e0be";
}

.WeBuild-Related-machine10:before {
    content: "\e0bf";
}

.WeBuild-Related-nut:before {
    content: "\e0c0";
}

.WeBuild-Related-pail:before {
    content: "\e0c1";
}

.WeBuild-Related-paint54:before {
    content: "\e0c2";
}

.WeBuild-Related-paint55:before {
    content: "\e0c3";
}

.WeBuild-Related-painting34:before {
    content: "\e0c4";
}

.WeBuild-Related-painting35:before {
    content: "\e0c5";
}

.WeBuild-Related-pipes:before {
    content: "\e0c6";
}

.WeBuild-Related-roof1:before {
    content: "\e0c7";
}

.WeBuild-Related-rounded45:before {
    content: "\e0c8";
}

.WeBuild-Related-saw8:before {
    content: "\e0c9";
}

.WeBuild-Related-sawing:before {
    content: "\e0ca";
}

.WeBuild-Related-screw7:before {
    content: "\e0cb";
}

.WeBuild-Related-screwdriver18:before {
    content: "\e0cc";
}

.WeBuild-Related-shovel3:before {
    content: "\e0cd";
}

.WeBuild-Related-shovel4:before {
    content: "\e0ce";
}

.WeBuild-Related-smog:before {
    content: "\e0cf";
}

.WeBuild-Related-stair1:before {
    content: "\e0d0";
}

.WeBuild-Related-street12:before {
    content: "\e0d1";
}

.WeBuild-Related-street7:before {
    content: "\e0d2";
}

.WeBuild-Related-traffic14:before {
    content: "\e0d3";
}

.WeBuild-Related-transport6:before {
    content: "\e0d4";
}

.WeBuild-Related-triangular45:before {
    content: "\e0d5";
}

.WeBuild-Related-triangular46:before {
    content: "\e0d6";
}

.WeBuild-Related-truck27:before {
    content: "\e0d7";
}

.WeBuild-Related-truck28:before {
    content: "\e0d8";
}

.WeBuild-Related-truck29:before {
    content: "\e0d9";
}

.WeBuild-Related-two193:before {
    content: "\e0da";
}

.WeBuild-Related-two195:before {
    content: "\e0db";
}

.WeBuild-Related-wall20:before {
    content: "\e0dc";
}

.WeBuild-Related-wheelbarrow2:before {
    content: "\e0dd";
}

.WeBuild-Related-wheelbarrow3:before {
    content: "\e0de";
}

.WeBuild-Related-worker5:before {
    content: "\e0df";
}

.WeBuild-Related-wrench57:before {
    content: "\e0e0";
}

.WeBuild-Related-wrench58:before {
    content: "\e0e1";
}

.WeBuild-Related-wrench59:before {
    content: "\e0e2";
}

.WeBuild-Related-wrench60:before {
    content: "\e0e3";
}